@inherits AddCityDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Add City</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <EditForm Model="@City" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label for="cityName">CityName: </label>
                            <InputText id="city_search" class="form-control" @bind-Value="@City.CityName" type="text" placeholder="Enter the City Name"></InputText>
                            <ValidationMessage For="@(() => City.CityName)" />
                        </div>

                        <div class="form-group">
                            <label for="destinationPoint" class="label-checkbox">DestinationPoint: </label>
                            <InputCheckbox id="destinationPoint" class="form-control checkbox" @bind-Value="@City.DestinationPoint"></InputCheckbox>
                            <ValidationMessage For="@(() => City.DestinationPoint)" />
                        </div>

                        <div class="form-group">
                            <label for="startPoint" class="label-checkbox">StartPoint: </label>
                            <InputCheckbox id="startPoint" class="form-control checkbox" @bind-Value="@City.StartPoint"></InputCheckbox>
                            <ValidationMessage For="@(() => City.StartPoint)" />
                        </div>

                        <div class="form-group">
                            <label for="needsHotel" class="label-checkbox">Needs Hotel: </label>
                            <InputCheckbox id="needsHotel" class="form-control checkbox" @bind-Value="@City.NeedsHotel"></InputCheckbox>
                            <ValidationMessage For="@(() => City.NeedsHotel)" />
                        </div>

                        <div class="form-group">
                            <label for="needsMuseum" class="label-checkbox">Needs Museum: </label>
                            <InputCheckbox id="needsMuseum" class="form-control checkbox" @bind-Value="@City.NeedsMuseum" onclick="enableTextbox('needsMuseum','museum_search')"></InputCheckbox>
                            <ValidationMessage For="@(() => City.NeedsMuseum)" />
                        </div>

                        <div class="form-group">
                            <label for="museumType">Museum Type: </label>
                            <InputText id="museum_search" class="form-control" @bind-Value="@City.MuseumType" placeholder="Enter the Museum Type" disabled ></InputText>
                            <ValidationMessage For="@(() => City.MuseumType)" />
                        </div>

                        <div class="form-group">
                            <label for="startPoint" class="label-checkbox">Needs Restaurant: </label>
                            <InputCheckbox id="needsRestaurant" class="form-control checkbox" @bind-Value="@City.NeedsRestaurant" onclick="enableTextbox('needsRestaurant','restaurant_search')"></InputCheckbox>
                            <ValidationMessage For="@(() => City.NeedsRestaurant)" />
                        </div>

                        <div class="form-group">
                            <label for="restaurantType">Restaurant Type: </label>
                            <InputText id="restaurant_search" class="form-control" @bind-Value="@City.RestaurantType" disabled placeholder="Enter the Restaurant Type"></InputText>
                            <ValidationMessage For="@(() => City.RestaurantType)" />
                        </div>

                        <button type="submit" class="btn btn-primary">Save City</button>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 9999;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 2000;
    }

    .modal-backdrop {
        z-index: 1000;
    }
</style>

