@page "/map"
@inherits MapBase

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>BestPathUI</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    <div id="map_canvas" style="position: center; width: 1000px; height:500px; margin:auto; margin-top:50px"></div>
    <div>
        <button @onclick="@AddCity" class="btn btn-dark table-btn quick-add-btn">Add City</button>
    </div>
    <div>
        <button @onclick="@SaveRoute" class="btn btn-dark table-btn quick-add-btn">Save Route</button>
    </div>
    <div>
        <button @onclick="@GetLastRoute" class="btn btn-dark table-btn quick-add-btn">Get my last route</button>
    </div>
    @if (this.RestaurantSearches.Count > 0)
    {
        <label>Here are couple of restaurants for you</label>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Oppened</th>
                    <th>Price Level</th>
                    <th>rating</th>
                    <th>Total Reviews</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var restaurant in RestaurantSearches)
                {
                    <tr @onmouseover="@(x => ShowLocation(restaurant))" @onmouseout="@(x => HideLocation(restaurant))">
                        <th>@restaurant.name</th>
                        <th>@restaurant.formatted_address</th>
                        <th>@restaurant.opening_hours.open_now</th>
                        <th>@restaurant.price_level</th>
                        <th>@restaurant.rating</th>
                        <th>@restaurant.user_ratings_total</th>
                        <th><button @onclick="@(x => RestaurantSelected(restaurant))" class="btn btn-dark table-btn quick-add-btn">Select restaurant</button></th>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (this.MuseumSearches.Count > 0)
    {
        <label>Here are couple of museums for you</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Oppened</th>
                    <th>Price Level</th>
                    <th>rating</th>
                    <th>Total Reviews</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var museum in MuseumSearches)
                {
                    <tr @onmouseover="@(x => ShowLocation(museum))" @onmouseout="@(x => HideLocation(museum))">
                        <th>@museum.name</th>
                        <th>@museum.formatted_address</th>
                        <th>@museum.opening_hours.open_now</th>
                        <th>@museum.price_level</th>
                        <th>@museum.rating</th>
                        <th>@museum.user_ratings_total</th>
                        <th><button @onclick="@(x => MuseumSelected(museum))" class="btn btn-dark table-btn quick-add-btn">Select museum</button></th>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>

<BestPathUI.Pages.Components.AddCityDialog @ref="AddCityDialog" CloseEventCallBack="@AddCityDialog_OnDialogClose"></BestPathUI.Pages.Components.AddCityDialog>

<style>
    table {
        overflow-y: scroll;
        height: 200px;
        display: block;
    }
</style>